:root {
  font-family: 'Share Tech Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #c2c2d6;
  font-family: 'Orbitron', 'Courier New', Courier, monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  width: 20rem;
  background-color: black;
  padding: 5px;
}

.formulaScreen, .outputScreen{
  display: flex;
  height: 2rem;
  width: 100%;
  justify-content: flex-end;
  color: white;
  font-size: 1.4rem;
  align-items: center; 
}

.formulaScreen{
  color: orange;
}

.buttons {
  gap: 0.05rem;
  width: 100%;
  height: 18.75rem;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.buttons button{
  font-family: 'Share Tech Mono', monospace;
  cursor: pointer;
  border: none; 
  font-size: 1.4rem; 
}

.buttons button:hover{
  font-size: 1.75rem;
  border: 0.05rem solid rgb(238, 234, 234);
}

.digit, .dot{
  background-color: #4d4d4d;
}

.operation{
  background-color: #666666;
}

.ac{
  background-color: #ac3939;
}

.equals{
  background-color: #4985b4;
  grid-row-end: span 2;
}

.zero{
  grid-column: 1/3;
}

.sig{
  color: white;
  margin:  .2rem auto;  
  font-size: 0.6rem;
}